.projects-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.projects-header {
    cursor: pointer;
    margin: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.project-entry{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
    padding: 1rem;
    border: 1px solid white;
    
}
.project-entry>*{
    display: flex;
    justify-content: space-between;
}
.projects-header{
    font-size: 1.5rem;
    margin: 24px;
    justify-self: center;
}
.projects-buttons{
    display: flex;
    padding-left: 1rem;
    justify-content: space-around;   
    margin-bottom: 1rem;
}
.projects-buttons button{
    font-size: 1rem;
}
.delete-project{
    font-size: 1rem;
    max-width: 4rem;
    align-self: center;
}
.projects-form {
    height: auto; /* Default to auto for expanded state */
    overflow: hidden;
    transition: max-height 0.3s ease-in-out; /* Use max-height for smoother transition */
  }
  
  .projects-form.collapsed {
    max-height: 0; /* Collapsed state */
  }
  
  .projects-form.expanded {
    max-height: 300dvh; /* Expanded state; adjust based on content */
  }
  .project-features{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 0.5rem;
  }
  .feature-entry{
    display: flex;
    flex:1;
    width: 100%;
    gap: 0.2rem;
  }
  .project-features>button{
    width: 7rem;
    align-self: center;
    font-size: 0.8rem;
  }
  #delete-feature{
    width: 7rem;
    align-self: center;
    font-size: 0.9rem;
  }
  .project-features textarea{
    max-width: 230px;
    min-width: 230px;
    min-height: 15px;
    max-height: 50px; 
    overflow-y: auto; /* Enable scrolling after max-height */
    /* resize: none;  */
    border: 1px solid #ccc;
    font-size: 0.7rem;
  }
  .delete-feature{
    max-height: 25px;
  }
  .add-feature{
    max-height: 3rem;
  }
  #delete-project{
    max-width: 10rem;
    justify-self: center;
    align-self:center ;
    font-size: 0.9rem;
  }
  